*{
    box-sizing : border-box;
    font-size: 25px;
}

body {
    padding:0;
    margin: 0;
}
.calc{
    /* border: 1px solid black; */
    width:400px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-row{
display: flex;
flex-direction: row;
}


.calc-button{
    background-color: rgb(231, 230, 230);
    color: black;
    height: 100px;
    width: 24.5%;
    flex-basis: 25%;
    border: 1px solid black;
    cursor: pointer;
}

.double{
    background-color: rgb(231, 230, 230);
    flex-basis: 50%;
}

.triple{
    background-color: rgb(231, 230, 230);
    flex-basis: 75%;
}


.calc-row button:last-child{
    background-color:orange ;
    color: white;
}


.calc-button:hover{
    background-color: rgb(231, 169, 169);
}

.calc-button:active{
    background-color: gray;
    color: white;
}
